.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
  height: 18rem;
}
.time-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 260px;
  color: white;
  gap: 2rem;
}
.time-wrapper h2 {
  margin: 0;
  font-size: 78px;
}
.time-wrapper span {
  font-size: 78px;
  position: relative;
  top: -5px;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  border-radius: 5px;
  overflow: hidden;
}