.btn {
  width: 12rem;
  height: 3rem;
  border: none;
  color: white;
  background-color: #FF6699;
  font-size: 18px;
  font-family: 'Space Mono', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:hover {
    cursor: pointer;
    background-color: #BD4A70;
  }
}

